/* -------------- BASE ------------ */
@import "./variables.scss";
@import "./typography.scss";

/* -------------- COMPONENTS ------------ */
@import "./components/Header";
@import "./components/Footer";
@import "./components/Navbar";

// Global Styles
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
